<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ppl-admin</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>com.jm.ppl.admin.common.web.CharacterEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAuthorizationManage</display-name>
    <servlet-name>ViewAuthorizationManage</servlet-name>
    <servlet-class>com.jm.ppl.admin.authorization.web.ViewAuthorizationManage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAuthorizationManage</servlet-name>
    <url-pattern>/authorization/manage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAllAuthorization</display-name>
    <servlet-name>ViewAllAuthorization</servlet-name>
    <servlet-class>com.jm.ppl.admin.authorization.web.ViewAllAuthorization</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllAuthorization</servlet-name>
    <url-pattern>/authorization/all</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoRegistAuthorizaionAction</display-name>
    <servlet-name>DoRegistAuthorizaionAction</servlet-name>
    <servlet-class>com.jm.ppl.admin.authorization.web.DoRegistAuthorizaionAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoRegistAuthorizaionAction</servlet-name>
    <url-pattern>/authorization/regist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoDeleteActionServlet</display-name>
    <servlet-name>DoDeleteActionServlet</servlet-name>
    <servlet-class>com.jm.ppl.admin.authorization.web.DoDeleteActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoDeleteActionServlet</servlet-name>
    <url-pattern>/authorization/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoModifyActionServlet</display-name>
    <servlet-name>DoModifyActionServlet</servlet-name>
    <servlet-class>com.jm.ppl.admin.authorization.web.DoModifyActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoModifyActionServlet</servlet-name>
    <url-pattern>/authorization/modify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewListServlet</display-name>
    <servlet-name>ViewListServlet</servlet-name>
    <servlet-class>com.jm.ppl.admin.user.web.ViewListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewListServlet</servlet-name>
    <url-pattern>/user/list</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewDetailServlet</display-name>
    <servlet-name>ViewDetailServlet</servlet-name>
    <servlet-class>com.jm.ppl.admin.user.web.ViewDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewDetailServlet</servlet-name>
    <url-pattern>/user/detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoUserModifyActionServlet</display-name>
    <servlet-name>DoUserModifyActionServlet</servlet-name>
    <servlet-class>com.jm.ppl.admin.user.web.DoUserModifyActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoUserModifyActionServlet</servlet-name>
    <url-pattern>/user/modify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoSelectModifyActionServlet</display-name>
    <servlet-name>DoSelectModifyActionServlet</servlet-name>
    <servlet-class>com.jm.ppl.admin.user.web.DoSelectModifyActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoSelectModifyActionServlet</servlet-name>
    <url-pattern>/user/doselect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoAuthorModifyAction</display-name>
    <servlet-name>DoAuthorModifyAction</servlet-name>
    <servlet-class>com.jm.ppl.admin.user.web.DoAuthorModifyAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoAuthorModifyAction</servlet-name>
    <url-pattern>/user/doModify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewRankingServlet</display-name>
    <servlet-name>ViewRankingServlet</servlet-name>
    <servlet-class>com.jm.ppl.admin.likecount.web.ViewRankingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewRankingServlet</servlet-name>
    <url-pattern>/ranking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewSignUserByDay</display-name>
    <servlet-name>ViewSignUserByDay</servlet-name>
    <servlet-class>com.jm.ppl.admin.user.web.ViewSignUserByDay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewSignUserByDay</servlet-name>
    <url-pattern>/user/signdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>mainView</display-name>
    <servlet-name>mainView</servlet-name>
    <servlet-class>com.jm.ppl.admin.mainView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mainView</servlet-name>
    <url-pattern>/view</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewSignInServlet</display-name>
    <servlet-name>ViewSignInServlet</servlet-name>
    <servlet-class>com.jm.ppl.admin.user.web.ViewSignInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewSignInServlet</servlet-name>
    <url-pattern>/user/signIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteActionServlet</display-name>
    <servlet-name>DeleteActionServlet</servlet-name>
    <servlet-class>com.jm.ppl.admin.user.web.DeleteActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteActionServlet</servlet-name>
    <url-pattern>/user/delete</url-pattern>
  </servlet-mapping>
</web-app>