<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ppl</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ViewActorListServlet</display-name>
    <servlet-name>ViewActorListServlet</servlet-name>
    <servlet-class>com.jm.ppl.actor.web.ViewActorListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewActorListServlet</servlet-name>
    <url-pattern>/actor/list</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewActorWriteServlet</display-name>
    <servlet-name>ViewActorWriteServlet</servlet-name>
    <servlet-class>com.jm.ppl.actor.web.ViewActorWriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewActorWriteServlet</servlet-name>
    <url-pattern>/actor/write</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewActorPostServlet</display-name>
    <servlet-name>ViewActorPostServlet</servlet-name>
    <servlet-class>com.jm.ppl.actor.web.ViewActorPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewActorPostServlet</servlet-name>
    <url-pattern>/actor/post</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewActorDetailServlet</display-name>
    <servlet-name>ViewActorDetailServlet</servlet-name>
    <servlet-class>com.jm.ppl.actor.web.ViewActorDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewActorDetailServlet</servlet-name>
    <url-pattern>/actor/detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoDeleteActorActionServlet</display-name>
    <servlet-name>DoDeleteActorActionServlet</servlet-name>
    <servlet-class>com.jm.ppl.actor.web.DoDeleteActorActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoDeleteActorActionServlet</servlet-name>
    <url-pattern>/actor/doDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewActorModifyServlet</display-name>
    <servlet-name>ViewActorModifyServlet</servlet-name>
    <servlet-class>com.jm.ppl.actor.web.ViewActorModifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewActorModifyServlet</servlet-name>
    <url-pattern>/actor/modify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoModifyActorActionServlet</display-name>
    <servlet-name>DoModifyActorActionServlet</servlet-name>
    <servlet-class>com.jm.ppl.actor.web.DoModifyActorActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoModifyActorActionServlet</servlet-name>
    <url-pattern>/actor/doModify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewItemWriteServlet</display-name>
    <servlet-name>ViewItemWriteServlet</servlet-name>
    <servlet-class>com.jm.ppl.items.web.ViewItemWriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewItemWriteServlet</servlet-name>
    <url-pattern>/item/write</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewItemPostServlet</display-name>
    <servlet-name>ViewItemPostServlet</servlet-name>
    <servlet-class>com.jm.ppl.items.web.ViewItemPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewItemPostServlet</servlet-name>
    <url-pattern>/item/post</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewItemDetailServlet</display-name>
    <servlet-name>ViewItemDetailServlet</servlet-name>
    <servlet-class>com.jm.ppl.items.web.ViewItemDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewItemDetailServlet</servlet-name>
    <url-pattern>/item/detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoActorWriteActionServlet</display-name>
    <servlet-name>DoActorWriteActionServlet</servlet-name>
    <servlet-class>com.jm.ppl.actor.web.DoActorWriteActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoActorWriteActionServlet</servlet-name>
    <url-pattern>/actor/doWrite</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoItemDeleteActionServlet</display-name>
    <servlet-name>DoItemDeleteActionServlet</servlet-name>
    <servlet-class>com.jm.ppl.items.web.DoItemDeleteActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoItemDeleteActionServlet</servlet-name>
    <url-pattern>/item/doDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewItemModifyServlet</display-name>
    <servlet-name>ViewItemModifyServlet</servlet-name>
    <servlet-class>com.jm.ppl.items.web.ViewItemModifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewItemModifyServlet</servlet-name>
    <url-pattern>/item/modify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoItemModifyActionServlet</display-name>
    <servlet-name>DoItemModifyActionServlet</servlet-name>
    <servlet-class>com.jm.ppl.items.web.DoItemModifyActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoItemModifyActionServlet</servlet-name>
    <url-pattern>/item/doModify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoItemLikeActionServlet</display-name>
    <servlet-name>DoItemLikeActionServlet</servlet-name>
    <servlet-class>com.jm.ppl.items.web.DoItemLikeActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoItemLikeActionServlet</servlet-name>
    <url-pattern>/item/doLikeItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoItemNotLikeActionServlet</display-name>
    <servlet-name>DoItemNotLikeActionServlet</servlet-name>
    <servlet-class>com.jm.ppl.items.web.DoItemNotLikeActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoItemNotLikeActionServlet</servlet-name>
    <url-pattern>/item/doNotLikeItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewSignInServlet</display-name>
    <servlet-name>ViewSignInServlet</servlet-name>
    <servlet-class>com.jm.ppl.user.web.ViewSignInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewSignInServlet</servlet-name>
    <url-pattern>/user/signIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewSignUpServlet</display-name>
    <servlet-name>ViewSignUpServlet</servlet-name>
    <servlet-class>com.jm.ppl.user.web.ViewSignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewSignUpServlet</servlet-name>
    <url-pattern>/user/signUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoCheckDuplicateUserIdServlet</display-name>
    <servlet-name>DoCheckDuplicateUserIdServlet</servlet-name>
    <servlet-class>com.jm.ppl.user.web.DoCheckDuplicateUserIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoCheckDuplicateUserIdServlet</servlet-name>
    <url-pattern>/user/checkDuplicate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoSignOutServlet</display-name>
    <servlet-name>DoSignOutServlet</servlet-name>
    <servlet-class>com.jm.ppl.user.web.DoSignOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoSignOutServlet</servlet-name>
    <url-pattern>/user/signOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DramaListServlet</display-name>
    <servlet-name>DramaListServlet</servlet-name>
    <servlet-class>com.jm.ppl.drama.web.DramaListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DramaListServlet</servlet-name>
    <url-pattern>/drama/list</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DramaDetailServlet</display-name>
    <servlet-name>DramaDetailServlet</servlet-name>
    <servlet-class>com.jm.ppl.drama.web.DramaDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DramaDetailServlet</servlet-name>
    <url-pattern>/drama/detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoEditLikeCountActionServlet</display-name>
    <servlet-name>DoEditLikeCountActionServlet</servlet-name>
    <servlet-class>com.jm.ppl.drama.web.DoEditLikeCountActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoEditLikeCountActionServlet</servlet-name>
    <url-pattern>/drama/editLikeCount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DramaDeleteServlet</display-name>
    <servlet-name>DramaDeleteServlet</servlet-name>
    <servlet-class>com.jm.ppl.drama.web.DramaDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DramaDeleteServlet</servlet-name>
    <url-pattern>/drama/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DramaEditServlet</display-name>
    <servlet-name>DramaEditServlet</servlet-name>
    <servlet-class>com.jm.ppl.drama.web.DramaEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DramaEditServlet</servlet-name>
    <url-pattern>/drama/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DramaPostServlet</display-name>
    <servlet-name>DramaPostServlet</servlet-name>
    <servlet-class>com.jm.ppl.drama.web.DramaPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DramaPostServlet</servlet-name>
    <url-pattern>/drama/post</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DramaWriteServlet</display-name>
    <servlet-name>DramaWriteServlet</servlet-name>
    <servlet-class>com.jm.ppl.drama.web.DramaWriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DramaWriteServlet</servlet-name>
    <url-pattern>/drama/write</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoActorLikeActionServlet</display-name>
    <servlet-name>DoActorLikeActionServlet</servlet-name>
    <servlet-class>com.jm.ppl.actor.web.DoActorLikeActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoActorLikeActionServlet</servlet-name>
    <url-pattern>/actor/doLikeActor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoActorNotLikeActionServlet</display-name>
    <servlet-name>DoActorNotLikeActionServlet</servlet-name>
    <servlet-class>com.jm.ppl.actor.web.DoActorNotLikeActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoActorNotLikeActionServlet</servlet-name>
    <url-pattern>/actor/doNotLikeActor</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>CharacterEncodingFilter</display-name>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>com.jm.ppl.common.web.CharacterEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ViewMovieListServlet</display-name>
    <servlet-name>ViewMovieListServlet</servlet-name>
    <servlet-class>com.jm.ppl.movie.web.ViewMovieListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewMovieListServlet</servlet-name>
    <url-pattern>/movie/list</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewMovieWriteServlet</display-name>
    <servlet-name>ViewMovieWriteServlet</servlet-name>
    <servlet-class>com.jm.ppl.movie.web.ViewMovieWriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewMovieWriteServlet</servlet-name>
    <url-pattern>/movie/write</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewMoviePostServlet</display-name>
    <servlet-name>ViewMoviePostServlet</servlet-name>
    <servlet-class>com.jm.ppl.movie.web.ViewMoviePostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewMoviePostServlet</servlet-name>
    <url-pattern>/movie/post</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MovieModifyServlet</display-name>
    <servlet-name>MovieModifyServlet</servlet-name>
    <servlet-class>com.jm.ppl.movie.web.MovieModifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MovieModifyServlet</servlet-name>
    <url-pattern>/movie/modify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MovieDetailServlet</display-name>
    <servlet-name>MovieDetailServlet</servlet-name>
    <servlet-class>com.jm.ppl.movie.web.MovieDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MovieDetailServlet</servlet-name>
    <url-pattern>/movie/detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MovieDeleteServlet</display-name>
    <servlet-name>MovieDeleteServlet</servlet-name>
    <servlet-class>com.jm.ppl.movie.web.MovieDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MovieDeleteServlet</servlet-name>
    <url-pattern>/movie/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MainViewServlet</display-name>
    <servlet-name>MainViewServlet</servlet-name>
    <servlet-class>com.jm.ppl.MainViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainViewServlet</servlet-name>
    <url-pattern>/main</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MovieLikeCountServlet</display-name>
    <servlet-name>MovieLikeCountServlet</servlet-name>
    <servlet-class>com.jm.ppl.movie.web.MovieLikeCountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MovieLikeCountServlet</servlet-name>
    <url-pattern>/movie/like</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommentWriteServlet</display-name>
    <servlet-name>CommentWriteServlet</servlet-name>
    <servlet-class>com.jm.ppl.comment.web.CommentWriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentWriteServlet</servlet-name>
    <url-pattern>/comment/write</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommentDetailServlet</display-name>
    <servlet-name>CommentDetailServlet</servlet-name>
    <servlet-class>com.jm.ppl.comment.web.CommentDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentDetailServlet</servlet-name>
    <url-pattern>/comment/detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommentEditServlet</display-name>
    <servlet-name>CommentEditServlet</servlet-name>
    <servlet-class>com.jm.ppl.comment.web.CommentEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentEditServlet</servlet-name>
    <url-pattern>/comment/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoCommentDeleteActionServlet</display-name>
    <servlet-name>DoCommentDeleteActionServlet</servlet-name>
    <servlet-class>com.jm.ppl.comment.web.DoCommentDeleteActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoCommentDeleteActionServlet</servlet-name>
    <url-pattern>/comment/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ItemPostWriteServlet</display-name>
    <servlet-name>ItemPostWriteServlet</servlet-name>
    <servlet-class>com.jm.ppl.itemPost.web.ItemPostWriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemPostWriteServlet</servlet-name>
    <url-pattern>/itemPost/writePost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OtherPicsPostActionServlet</display-name>
    <servlet-name>OtherPicsPostActionServlet</servlet-name>
    <servlet-class>com.jm.ppl.itemPost.web.OtherPicsPostActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OtherPicsPostActionServlet</servlet-name>
    <url-pattern>/itemPost/itemPost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ItemPostDeleteServlet</display-name>
    <servlet-name>ItemPostDeleteServlet</servlet-name>
    <servlet-class>com.jm.ppl.itemPost.web.ItemPostDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemPostDeleteServlet</servlet-name>
    <url-pattern>/itemPost/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoEditDramaLikeCountServlet</display-name>
    <servlet-name>DoEditDramaLikeCountServlet</servlet-name>
    <servlet-class>com.jm.ppl.dramaLike.web.DoEditDramaLikeCountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoEditDramaLikeCountServlet</servlet-name>
    <url-pattern>/dramaLike/editLikeCount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoEditActorLikeCountServlet</display-name>
    <servlet-name>DoEditActorLikeCountServlet</servlet-name>
    <servlet-class>com.jm.ppl.actorLike.web.DoEditActorLikeCountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoEditActorLikeCountServlet</servlet-name>
    <url-pattern>/actorLike/editLikeCount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoEditMovieLikeCountServlet</display-name>
    <servlet-name>DoEditMovieLikeCountServlet</servlet-name>
    <servlet-class>com.jm.ppl.movieLike.web.DoEditMovieLikeCountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoEditMovieLikeCountServlet</servlet-name>
    <url-pattern>/movieLkie/editLikeCount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoLikeServlet</display-name>
    <servlet-name>DoLikeServlet</servlet-name>
    <servlet-class>com.jm.ppl.like.web.DoLikeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoLikeServlet</servlet-name>
    <url-pattern>/like/doLike</url-pattern>
  </servlet-mapping>
</web-app>